CyclePattern = 5 , 2

MinLoginHour = 7, 10
MaxLoginHour = 9, 12
MinLoginVarianceInMinutes = 400, 400
MaxLoginVarianceInMinutes = 3600, 625

MinLoginTime = 6, 2
MaxLoginTime = 8, 4
MinLoginTimeVarianceInMinutes = 1600, 900
MaxLoginTimeVarianceInMinutes = 3600, 1600

MinAttendanceMean = 1000, 20
MaxAttendanceMean = 2000, 50
MinAttendanceVariance =  625, 25
MaxAttendanceVariance = 2500, 64
MinAttendanceChangePercentPerPeriod =  -0.02, -0.02
MaxAttendanceChangePercentPerPeriod =  +0.02, +0.02

DaysInPeriod = 30
ChartStartHour = 4
ChartEndHour = 19
ChartPeriodInMinutes = 15
