CyclePattern = 5, 2

LoginHour = 9, 10
LoginVarianceInMinutes = 625, 400
LoginTime = 8, 4
LoginTimeVarianceInMinutes = 1600, 900

AttendanceMean = 1, 0
AttendanceVariance = 0, 1
AttendanceChangePercentPerPeriod = +0.00, +0.00

DaysInPeriod = 30
ChartStartHour = 7
ChartEndHour = 20
ChartPeriodInMinutes = 5
