MinLoginHour = 8
MaxLoginHour = 9
MinLoginVarianceInMinutes = 400
MaxLoginVarianceInMinutes = 3600

MinLoginTime = 6
MaxLoginTime = 9
MinLoginTimeVarianceInMinutes = 1600
MaxLoginTimeVarianceInMinutes = 3600

MinAttendanceMean = 1000
MaxAttendanceMean = 3000
MinAttendanceVariance = 625
MaxAttendanceVariance = 2500
MinAttendanceChangePercentPerPeriod = -0.03
MaxAttendanceChangePercentPerPeriod = +0.05

DaysInPeriod = 30
ChartStartHour = 6
ChartEndHour = 20
ChartPeriodInMinutes = 5
